body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.flexible-container{
    display: flex;
}

.hero{
    padding-top: 50px;
    margin-bottom: 130px;
}

.header{
    margin-top: 70px;
    padding-left: 140px;
}

h1{
    font-size: 56px;
    font-weight: 700;
    color: #575757;
    padding-bottom: 30px;
}

h2{
    font-size: 50px;
    font-weight: 700;
    color: #575757;
    text-align: center;
    padding-bottom: 50px;
}

span{
    color: #5E17EB;
}

p{
    color: #575757;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 40px;
}

.button{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    background-image: linear-gradient(#5E17EB, #FF5757);
    padding: 20px 35px;
}

.button:hover{
    background-image: linear-gradient(#FF5757, #5E17EB);
}

.half-width{
    width: 40%;
}

.healthy{
    width: 100%;
}

.banner{
    padding-left: 40px;
}

.masters{
    width: 90%
}

.shang{
    padding-left: 150px;
    padding-top: 15px;
}

.s-description{
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 50px;
}

.name{
    font-weight: 700;
}

.challa{
    padding-left: 180px;
}

.t-description{
    padding-top: 220px;
    padding-left: 120px;
}